
libraries/Adafruit_Circuit_Playground/examples/color_sense/color_sense.ino
libraries/Adafruit_Circuit_Playground/examples/comm_badge/coin.h
libraries/Adafruit_Circuit_Playground/examples/comm_badge/comm_badge.ino
libraries/Adafruit_Circuit_Playground/examples/comm_badge/trek.h
libraries/Adafruit_Circuit_Playground/examples/demo/demo.ino
libraries/Adafruit_Circuit_Playground/examples/FidgetSpinner/FidgetSpinner.h
libraries/Adafruit_Circuit_Playground/examples/FidgetSpinner/FidgetSpinner.ino
libraries/Adafruit_Circuit_Playground/examples/FidgetSpinner/PeakDetector.h
libraries/Adafruit_Circuit_Playground/examples/Hello_CircuitPlayground/Hello_Accelerometer/Hello_Accelerometer.ino
libraries/Adafruit_Circuit_Playground/examples/Hello_CircuitPlayground/Hello_Blink/Hello_Blink.ino
libraries/Adafruit_Circuit_Playground/examples/Hello_CircuitPlayground/Hello_Buttons/Hello_Buttons.ino
libraries/Adafruit_Circuit_Playground/examples/Hello_CircuitPlayground/Hello_LightSensor/Hello_LightSensor.ino
libraries/Adafruit_Circuit_Playground/examples/Hello_CircuitPlayground/Hello_NeoPixels/Hello_NeoPixels.ino
libraries/Adafruit_Circuit_Playground/examples/Hello_CircuitPlayground/Hello_SlideSwitch/Hello_SlideSwitch.ino
libraries/Adafruit_Circuit_Playground/examples/Hello_CircuitPlayground/Hello_SoundSensor/Hello_SoundSensor.ino
libraries/Adafruit_Circuit_Playground/examples/Hello_CircuitPlayground/Hello_Speaker/Hello_Speaker.ino
libraries/Adafruit_Circuit_Playground/examples/Hello_CircuitPlayground/Hello_Temperature/Hello_Temperature.ino
libraries/Adafruit_Circuit_Playground/examples/Hello_CircuitPlayground/README.md
libraries/Adafruit_Circuit_Playground/examples/Infrared_Demos/Infrared_NeoPixel/.cplayClassic.test.skip
libraries/Adafruit_Circuit_Playground/examples/Infrared_Demos/Infrared_NeoPixel/adafruit_mini_codes.h
libraries/Adafruit_Circuit_Playground/examples/Infrared_Demos/Infrared_NeoPixel/Infrared_NeoPixel.ino
libraries/Adafruit_Circuit_Playground/examples/Infrared_Demos/Infrared_Read/.cplayClassic.test.skip
libraries/Adafruit_Circuit_Playground/examples/Infrared_Demos/Infrared_Read/Infrared_read.ino
libraries/Adafruit_Circuit_Playground/examples/Infrared_Demos/Infrared_Record/.cplayClassic.test.skip
libraries/Adafruit_Circuit_Playground/examples/Infrared_Demos/Infrared_Record/Infrared_Record.ino
libraries/Adafruit_Circuit_Playground/examples/Infrared_Demos/Infrared_Send/.cplayClassic.test.skip
libraries/Adafruit_Circuit_Playground/examples/Infrared_Demos/Infrared_Send/Infrared_Send.ino
libraries/Adafruit_Circuit_Playground/examples/Infrared_Demos/Infrared_Testpattern/.cplayClassic.test.skip
libraries/Adafruit_Circuit_Playground/examples/Infrared_Demos/Infrared_Testpattern/Infrared_Testpattern.ino
libraries/Adafruit_Circuit_Playground/examples/mega_demo/.cplayExpress.test.skip
libraries/Adafruit_Circuit_Playground/examples/mega_demo/CapTouchDemo.h
libraries/Adafruit_Circuit_Playground/examples/mega_demo/Demo.h
libraries/Adafruit_Circuit_Playground/examples/mega_demo/mega_demo.ino
libraries/Adafruit_Circuit_Playground/examples/mega_demo/RainbowCycleDemo.h
libraries/Adafruit_Circuit_Playground/examples/mega_demo/SensorDemo.h
libraries/Adafruit_Circuit_Playground/examples/mega_demo/TiltDemo.h
libraries/Adafruit_Circuit_Playground/examples/mega_demo/VUMeterDemo.h
libraries/Adafruit_Circuit_Playground/examples/Microphone_Demos/Birthday_Candles/Birthday_Candles.ino
libraries/Adafruit_Circuit_Playground/examples/Microphone_Demos/mic_FFT_classic/.cplayExpress.test.skip
libraries/Adafruit_Circuit_Playground/examples/Microphone_Demos/mic_FFT_classic/mic_FFT_classic.ino
libraries/Adafruit_Circuit_Playground/examples/Microphone_Demos/mic_FFT_express/.cplayClassic.test.skip
libraries/Adafruit_Circuit_Playground/examples/Microphone_Demos/mic_FFT_express/mic_FFT_express.ino
libraries/Adafruit_Circuit_Playground/examples/Microphone_Demos/pretty_meter/pretty_meter.ino
libraries/Adafruit_Circuit_Playground/examples/Microphone_Demos/soundPressureLevel/soundPressureLevel.ino
libraries/Adafruit_Circuit_Playground/examples/Microphone_Demos/vu_meter/vu_meter.ino
libraries/Adafruit_Circuit_Playground/examples/ScratchSensorBoard/ScratchSensorBoard.ino
libraries/Adafruit_Circuit_Playground/examples/Speech_Demos/Talk_UK_Acorn/Talk_UK_Acorn.ino
libraries/Adafruit_Circuit_Playground/examples/Speech_Demos/Talk_US_Clock/Talk_US_Clock.ino
libraries/Adafruit_Circuit_Playground/examples/Speech_Demos/Talk_US_Large/Talk_US_Large.ino
libraries/Adafruit_Circuit_Playground/examples/Speech_Demos/Talk_US_Male/Talk_US_Male.ino
libraries/Adafruit_Circuit_Playground/examples/Speech_Demos/Talk_US_TI99/Talk_US_TI99.ino
libraries/Adafruit_Circuit_Playground/examples/tachometer/tachometer.ino
libraries/Adafruit_Circuit_Playground/examples/tachometer_led_display/tachometer_led_display.ino
libraries/Adafruit_Circuit_Playground/library.properties
libraries/Adafruit_Circuit_Playground/README.md
libraries/Adafruit_Circuit_Playground/utility/Adafruit_CPlay_FreeTouch.cpp
libraries/Adafruit_Circuit_Playground/utility/Adafruit_CPlay_FreeTouch.h
libraries/Adafruit_Circuit_Playground/utility/Adafruit_CPlay_LIS3DH.cpp
libraries/Adafruit_Circuit_Playground/utility/Adafruit_CPlay_LIS3DH.h
libraries/Adafruit_Circuit_Playground/utility/Adafruit_CPlay_Mic.cpp
libraries/Adafruit_Circuit_Playground/utility/Adafruit_CPlay_Mic.h
libraries/Adafruit_Circuit_Playground/utility/Adafruit_CPlay_NeoPixel.cpp
libraries/Adafruit_Circuit_Playground/utility/Adafruit_CPlay_NeoPixel.h
libraries/Adafruit_Circuit_Playground/utility/Adafruit_CPlay_Sensor.h
libraries/Adafruit_Circuit_Playground/utility/Adafruit_CPlay_Speaker.cpp
libraries/Adafruit_Circuit_Playground/utility/Adafruit_CPlay_Speaker.h
libraries/Adafruit_Circuit_Playground/utility/Adafruit_ZeroPDM.cpp
libraries/Adafruit_Circuit_Playground/utility/Adafruit_ZeroPDM.h
libraries/Adafruit_Circuit_Playground/utility/CP_Boards.h
libraries/Adafruit_Circuit_Playground/utility/CP_Firmata.cpp
libraries/Adafruit_Circuit_Playground/utility/CP_Firmata.h
libraries/Adafruit_Circuit_Playground/utility/CPlay_CapacitiveSensor.cpp
libraries/Adafruit_Circuit_Playground/utility/CPlay_CapacitiveSensor.h
libraries/Adafruit_Circuit_Playground/utility/ffft.S
libraries/Adafruit_Circuit_Playground/utility/IRLib_COPYRIGHT.txt
libraries/Adafruit_Circuit_Playground/utility/IRLib_HashRaw.h
libraries/Adafruit_Circuit_Playground/utility/IRLib_P01_NEC.h
libraries/Adafruit_Circuit_Playground/utility/IRLib_P02_Sony.h
libraries/Adafruit_Circuit_Playground/utility/IRLib_P03_RC5.h
libraries/Adafruit_Circuit_Playground/utility/IRLib_P04_RC6.h
libraries/Adafruit_Circuit_Playground/utility/IRLib_P05_Panasonic_Old.h
libraries/Adafruit_Circuit_Playground/utility/IRLib_P06_JVC.h
libraries/Adafruit_Circuit_Playground/utility/IRLib_P07_NECx.h
libraries/Adafruit_Circuit_Playground/utility/IRLib_P08_Samsung36.h
libraries/Adafruit_Circuit_Playground/utility/IRLib_P09_GICable.h
libraries/Adafruit_Circuit_Playground/utility/IRLib_P10_DirecTV.h
libraries/Adafruit_Circuit_Playground/utility/IRLib_P11_RCMM.h
libraries/Adafruit_Circuit_Playground/utility/IRLib_P12_CYKM.h
libraries/Adafruit_Circuit_Playground/utility/IRLib_P99_Additional.h
libraries/Adafruit_Circuit_Playground/utility/IRLib_readme.md
libraries/Adafruit_Circuit_Playground/utility/IRLibCombo.h
libraries/Adafruit_Circuit_Playground/utility/IRLibCPE.h
libraries/Adafruit_Circuit_Playground/utility/IRLibDecodeBase.cpp
libraries/Adafruit_Circuit_Playground/utility/IRLibDecodeBase.h
libraries/Adafruit_Circuit_Playground/utility/IRLibGlobals.h
libraries/Adafruit_Circuit_Playground/utility/IRLibHardware.cpp
libraries/Adafruit_Circuit_Playground/utility/IRLibHardware.h
libraries/Adafruit_Circuit_Playground/utility/IRLibProtocols.cpp
libraries/Adafruit_Circuit_Playground/utility/IRLibProtocols.h
libraries/Adafruit_Circuit_Playground/utility/IRLibRecvBase.cpp
libraries/Adafruit_Circuit_Playground/utility/IRLibRecvBase.h
libraries/Adafruit_Circuit_Playground/utility/IRLibRecvPCI.cpp
libraries/Adafruit_Circuit_Playground/utility/IRLibRecvPCI.h
libraries/Adafruit_Circuit_Playground/utility/IRLibSAMD21.cpp
libraries/Adafruit_Circuit_Playground/utility/IRLibSAMD21.h
libraries/Adafruit_Circuit_Playground/utility/IRLibSendBase.cpp
libraries/Adafruit_Circuit_Playground/utility/IRLibSendBase.h
libraries/Adafruit_Circuit_Playground/utility/README.md
libraries/Adafruit_Circuit_Playground/utility/talkie.cpp
libraries/Firmata/Boards.h
libraries/Firmata/examples/AllInputsFirmata/AllInputsFirmata.ino
libraries/Firmata/examples/AnalogFirmata/AnalogFirmata.ino
libraries/Firmata/examples/EchoString/EchoString.ino
libraries/Firmata/examples/OldStandardFirmata/LICENSE.txt
libraries/Firmata/examples/OldStandardFirmata/OldStandardFirmata.ino
libraries/Firmata/examples/ServoFirmata/ServoFirmata.ino
libraries/Firmata/examples/SimpleAnalogFirmata/SimpleAnalogFirmata.ino
libraries/Firmata/examples/SimpleDigitalFirmata/SimpleDigitalFirmata.ino
libraries/Firmata/examples/StandardFirmata/LICENSE.txt
libraries/Firmata/examples/StandardFirmata/StandardFirmata.ino
libraries/Firmata/examples/StandardFirmataBLE/bleConfig.h
libraries/Firmata/examples/StandardFirmataBLE/LICENSE.txt
libraries/Firmata/examples/StandardFirmataBLE/StandardFirmataBLE.ino
libraries/Firmata/examples/StandardFirmataChipKIT/LICENSE.txt
libraries/Firmata/examples/StandardFirmataChipKIT/StandardFirmataChipKIT.ino
libraries/Firmata/examples/StandardFirmataEthernet/ethernetConfig.h
libraries/Firmata/examples/StandardFirmataEthernet/LICENSE.txt
libraries/Firmata/examples/StandardFirmataEthernet/StandardFirmataEthernet.ino
libraries/Firmata/examples/StandardFirmataPlus/LICENSE.txt
libraries/Firmata/examples/StandardFirmataPlus/StandardFirmataPlus.ino
libraries/Firmata/examples/StandardFirmataWiFi/LICENSE.txt
libraries/Firmata/examples/StandardFirmataWiFi/StandardFirmataWiFi.ino
libraries/Firmata/examples/StandardFirmataWiFi/wifiConfig.h
libraries/Firmata/extras/revisions.txt
libraries/Firmata/Firmata.cpp
libraries/Firmata/Firmata.h
libraries/Firmata/FirmataConstants.h
libraries/Firmata/FirmataDefines.h
libraries/Firmata/FirmataMarshaller.cpp
libraries/Firmata/FirmataMarshaller.h
libraries/Firmata/FirmataParser.cpp
libraries/Firmata/FirmataParser.h
libraries/Firmata/keywords.txt
libraries/Firmata/library.properties
libraries/Firmata/LICENSE.txt
libraries/Firmata/readme.md
libraries/Firmata/release.sh
libraries/Firmata/test/firmata_test/firmata_test.ino
libraries/Firmata/test/readme.md
libraries/Firmata/utility/BLEStream.cpp
libraries/Firmata/utility/BLEStream.h
libraries/Firmata/utility/BluefruitLE_SPI_Stream.cpp
libraries/Firmata/utility/BluefruitLE_SPI_Stream.h
libraries/Firmata/utility/EthernetClientStream.cpp
libraries/Firmata/utility/EthernetClientStream.h
libraries/Firmata/utility/EthernetServerStream.cpp
libraries/Firmata/utility/EthernetServerStream.h
libraries/Firmata/utility/firmataDebug.h
libraries/Firmata/utility/FirmataFeature.h
libraries/Firmata/utility/SerialFirmata.cpp
libraries/Firmata/utility/SerialFirmata.h
libraries/Firmata/utility/WiFiClientStream.h
libraries/Firmata/utility/WiFiServerStream.h
libraries/Firmata/utility/WiFiStream.cpp
libraries/Firmata/utility/WiFiStream.h
libraries/Adafruit_Circuit_Playground/Adafruit_Circuit_Playground.h
libraries/Adafruit_Circuit_Playground/Adafruit_CircuitPlayground.cpp
libraries/Adafruit_Circuit_Playground/Adafruit_CircuitPlayground.h
libraries/Adafruit_Circuit_Playground/Doxyfile
libraries/Adafruit_Circuit_Playground/examples/accel_mouse/accel_mouse.ino
libraries/Adafruit_Circuit_Playground/examples/accelTap/accelTap.ino
libraries/Adafruit_Circuit_Playground/examples/analog_sensors/analog_sensors.ino
libraries/Adafruit_Circuit_Playground/examples/CircuitPlaygroundFirmata/CircuitPlaygroundFirmata.ino
libraries/Adafruit_Circuit_Playground/examples/CircuitPlaygroundFirmata_Express_CodeOrg/.cplayClassic.test.skip
libraries/Adafruit_Circuit_Playground/examples/CircuitPlaygroundFirmata_Express_CodeOrg/CircuitPlaygroundFirmata_Express_CodeOrg.ino
